# Lab3 - 1

In [2]:
import pandas as pd

In [2]:
# create a series
ser = pd.Series([1,2,3,4,5])
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
ser.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
ser['b']

KeyError: 'b'

In [5]:
# creating series from dictionary
dict_1 = {"monday": 142.75, "tuesday": 115.02, "wednesday": 114.5, "Thursday": 116}
ser = pd.Series(dict_1)
ser

monday       142.75
tuesday      115.02
wednesday    114.50
Thursday     116.00
dtype: float64

In [6]:
ser['wednesday']

np.float64(114.5)

In [3]:
import numpy as np

In [4]:
arr = np.array([12,13,10,11,14,15,9])

In [5]:
ser = pd.Series(arr)

In [6]:
ser

0    12
1    13
2    10
3    11
4    14
5    15
6     9
dtype: int64

In [7]:
print('ser.count() = ', ser.count())
print('ser.mean() = ', ser.mean())
print('ser.median() = ', ser.median())
print('ser.max() = ', ser.max())

ser.count() =  7
ser.mean() =  12.0
ser.median() =  12.0
ser.max() =  15

In [9]:
#stats of the data
ser.describe()

count     7.000000
mean     12.000000
std       2.160247
min       9.000000
25%      10.500000
50%      12.000000
75%      13.500000
max      15.000000
dtype: float64

In [12]:
print('ser.argmin() = ', ser.argmin())
print('ser.argmax() = ', ser.argmax())
print('ser.argsort() = ')
print(ser.argsort())

ser.argmin() =  6
ser.argmax() =  5
ser.argsort() =
0    6
1    2
2    3
3    0
4    1
5    4
6    5
dtype: int64

In [13]:
d = {'a':10, 'b':21, 'c':5, 'd':24, 'g':17}
ser = pd.Series(d, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
ser

a    10.0
b    21.0
c     5.0
d    24.0
e     NaN
f     NaN
g    17.0
dtype: float64

In [14]:
print(ser.isna())
print('-------------')
print(ser.isna().sum())
print('-------------')
print(ser.isnull().sum())

a    False
b    False
c    False
d    False
e     True
f     True
g    False
dtype: bool
-------------
2
-------------
2

In [15]:
constant_value = 5
ser.fillna(constant_value)

a    10.0
b    21.0
c     5.0
d    24.0
e     5.0
f     5.0
g    17.0
dtype: float64

In [16]:
# forward filling
print('original\n', ser)
print('*************\n', ser.ffill(), '\n************')
print('filling limited values')
print(ser.ffill(limit=1))

original
 a    10.0
b    21.0
c     5.0
d    24.0
e     NaN
f     NaN
g    17.0
dtype: float64
*************
 a    10.0
b    21.0
c     5.0
d    24.0
e    24.0
f    24.0
g    17.0
dtype: float64
************
filling limited values
a    10.0
b    21.0
c     5.0
d    24.0
e    24.0
f     NaN
g    17.0
dtype: float64

In [17]:
# backward filling
ser.bfill()

a    10.0
b    21.0
c     5.0
d    24.0
e    17.0
f    17.0
g    17.0
dtype: float64

## Look at the Nan Values

In [18]:
d = {0:100, 1:200, 3:330, 4:450}
ser2 = pd.Series(d, index=range(0,5))
ser2

0    100.0
1    200.0
2      NaN
3    330.0
4    450.0
dtype: float64

### remove the row containing Nan Value

In [19]:
ser2.dropna()

0    100.0
1    200.0
3    330.0
4    450.0
dtype: float64

In [20]:
ser = pd.Series([10,20,10,15,10,20,12,18,21,22])
ser.value_counts()

10    3
20    2
15    1
12    1
18    1
21    1
22    1
Name: count, dtype: int64

## Exercise 1-a

In [6]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [7]:
# 1. create series using above array
ser = pd.Series(arr.flatten())

In [41]:
ser

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [45]:
# 2. create series to store students evroll no as index and marks as values
er = np.array(['233B600', '233B601', '233B602','233B603','233B604','233B605','233B606','233B607','233B608','233B609'])
stu = pd.Series([10,20,10,15,10,20,12,18,21,22], index = er)
stu

233B600    10
233B601    20
233B602    10
233B603    15
233B604    10
233B605    20
233B606    12
233B607    18
233B608    21
233B609    22
dtype: int64

In [56]:
# 3. print the students who obtain the same marks
print(stu.value_counts().keys())

Index([10, 20, 15, 12, 18, 21, 22], dtype='int64')

In [50]:
stu.index[0]

'233B600'

In [57]:
stu.value_counts()[10]

np.int64(3)

In [59]:
for i in stu.value_counts().keys():
    print(i)

10
20
15
12
18
21
22

In [70]:
stu

233B600    10
233B601    20
233B602    10
233B603    15
233B604    10
233B605    20
233B606    12
233B607    18
233B608    21
233B609    22
dtype: int64